:root{

    --gradient-left: rgb(255, 163, 153);
    --gradient-right: hsl(335, 100%, 65%);

    --pale-blue: rgb(221, 219, 255);
    --grayish-blue: rgb(132, 135, 148);
    --dark-blue: rgb(29, 44, 103);
    --very-dark-blue: rgb(12, 18, 44);
}






