:root{

    --gradient-left: rgb(255, 163, 153);
    --gradient-right: hsl(335, 100%, 65%);

    --pale-blue: rgb(221, 219, 255);
    --grayish-blue: rgb(132, 135, 148);
    --dark-blue: rgb(29, 44, 103);
    --very-dark-blue: rgb(12, 18, 44);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/bg-mobile.png");
    background-size: 140%;
    background-repeat: no-repeat;
    height: 100vh;
}
.container{
    width: 90%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.fylo{
    background-color: var(--dark-blue);
    padding: 4.5rem 3rem;
    border-radius: 1rem;
    border-top-right-radius: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.nav{
    display: flex;
    gap: 1.5rem;
    
}

.image-box{
    background-color: var(--very-dark-blue);
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    transition: all .2s;
}
.image-box:hover{
    filter: brightness(150%);
}

/* STORAGE */


.storage{
    padding: 5rem 3rem;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    color: var(--pale-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
h3{
    font-size: 1.6rem;
    font-weight: 400;
}
h3 span{
    font-weight: 700;
}
.slider{
    height: 2.3rem;
    width: 100%;
    background-color: rgba(12, 18, 44,.5);
    border-radius: 5rem;
    display: flex;
    padding: 1rem .5rem;
    justify-content: flex-start;
    align-items: center;
    
}
.slider:before{
    content: "";
    display: inline-block;
    height: 1.4rem;
    width: 81.5%;
    border-radius: 5rem;
    background-image: linear-gradient(to right, var(--gradient-left), var(--gradient-right));
}
.slider:after{
    content: "";
    height: 1.1rem;
    width: 1.1rem;
    background-color: var(--pale-blue);
    border-radius: 50%;
    transform: translateX(-130%);
}
.gb{
    display: flex;
    font-weight: 700;
    font-size: 1.3rem;
    justify-content: space-between;
}
.remaining{
    background-color: #fff;
    width: 65%;
    padding: 1.5rem 2rem;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: -32%;
    left: 50%;
    transform:translate(-50%,-50%);
}
h2{
    color: var(--very-dark-blue);
    font-size: 3rem;
}
.remaining span{
    color: var(--grayish-blue);
    font-weight: 700;
    font-size: 1.5rem;
    
}





